#game-canvas {
  border: 10px solid #bbb;
  margin-left: auto;
  margin-right: auto;
  background-image: url('https://s3-us-west-1.amazonaws.com/yasmirtudoachimandirochichi/asteroids/OS-X-Mountain-Lion-Milky-Way.jpg');
}

body {
  width:  100%;
  height: 100%;
  margin: 0px;
}
